.destinationCon {
    display: flex;
    flex-direction: column;
    padding:20px;
}

.autocompleteContainer {
    margin-bottom: 20px;
}

.inputAutoComplete {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
}

.locationNxtBtnCon {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    /* padding:15px; */
    width: 150px;
    background-color: aqua;
    border-radius: 20px;
    cursor: pointer;
}
.locationNxtBtn {
    font-size: 55px;
}