.reviewContainer {
    position: relative;
    width: 78vw;
    background-color: rgba(228, 225, 225, 0.85);
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.scrollArea {
    padding-bottom: 120px;
}

.pointer {
    font-size: 1.1rem;
    font-style: italic;
    text-decoration: underline;
    color: #494949;
    margin: 100px 10px 20px 20px;
}

.textRow {
    margin: 10px 15px;
}

.textTitle {
    color: #0e0d0d;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.textValue {
    color: #f1efef;
    background-color: #0e0d0d;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 1.1rem;
    word-wrap: break-word;
}

/* Back button */
.backButton {
    position: absolute;
    top: 40px;
    left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.backIcon {
  font-size: 35px;
  color: #3d3d3d;
}

/* Bottom button */
.buttonContainer {
  position: fixed;
  bottom: 0;
  width: 78vw;
  height: 90px;
  background-color: rgba(228, 225, 225, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doneButton {
  width: 150px;
  height: 70px;
  background-color: #04e43c;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.doneButton:hover {
  transform: scale(1.05);
}


@media (max-width: 1300px) {
  
}

@media (max-width: 900px) {
    .reviewContainer {
        width: 100vw;
    }
    .textTitle {
        font-size: 1.1rem;
    }

    .textValue {
        font-size: 1rem;
    }

    .buttonContainer {
        width: 100vw;
        margin-bottom: 4rem;
    }

    .doneButton {
        width: 130px;
        height: 60px;
        font-size: 1.3rem;
    }
}

@media (max-width: 500px) {
    .parcelInput,
    .parcelNoteInput {
        width: 400px;
        max-width: 100%; /* let it shrink fully on very small screens */
    }
}
